<h1><%= @project.name %></h1>
<p>Material: <%= @project.material %></p>
<p>Challenge Theme: <%= @challenge.theme %></p>
<p>Contestant Count: <%= @project.contestant_count %></p>

<a href="/projects/<%= @project.id %>">View Project</a>
