<h1><%= @project.name%></h1>
<p>Material: <%= @project.material %></p>
<p>Challenge Theme: <%= @project.challenge.theme %></p>
<p>Number of Contestants: <%= @project.contestant_count %></p>
<p>Average Contestant Experience: <%= @project.contestant_experience_avg %></p>
