<h3> <%= @project.name %> </h3>
<p> <%= "Material: #{@project.material}" %> </p>
<p> <%= "Challenge Theme: #{@project.challenge.theme}" %> </p>
<p> <%= "Number of Contestants: #{@project.contestants.count}" %> </p>
<p> <%= "Average Contestant Experience: #{@project.avg_exp} years" %> </p>
<p>Enter Contestant ID</p>
  <%= form_with url: "/projects/#{@project.id}", method: :get, local: true do |f| %>
    <%= f.text_field :contestant_id %>
    <%= f.submit "Add Contestant To Project" %>
  <% end %>