<h3> <%= @project.name %></h3>
<p>Material: <%= @project.material %></p>
<p>Challenge Theme: <%= @project.project_challenge_theme %></p>
<p>Number of Contestants: <%= @project.count_contestants %></p>
<p>Average Contestant Experience: <%= @project.contestant_avg_exp %> years</p>