<h1> Projects Show page</h1>

<br>
<h3><%= "Name: #{@project.name}" %></h3>
<h3><%= "Material: #{@project.material}" %></h3>
<h3><%= "Challenge Theme: #{@project.challenge.theme}" %></h3>
<h3><%= "Number of Contestants: #{@project.contestants_count}" %></h3>
<h3><%= "Average Contestant Experience:" %></h3>
<br>