<h3> Project #<%= @project.id %></h3>
<p><b>Name: </b><%= @project.name %></p>
<p><b>Material: </b><%= @project.material %></p>
<p><b>Challenge Theme: </b><%= @project.challenge.theme %></p>
<p><b>Number of Contestants: </b><%= @project.contestants_count %></p>