<h1>Project<h1>

<p>Name: <%= @project.name %></p>
<p>Material: <%= @project.material %></p>
<p>Challenge Theme: <%= @project.challenge.theme %></p>
<%# <p>Number of Contestants: <%= @project.contestants_count</p> %>
<%# <>Contestant Average Experience: <%= @project.avg_experience %>

